streamlit
langchain
faiss-cpu
llama-cpp-python
sentence-transformers 
PyMuPDF
python-docx
pypdf
python-dotenv
langchain-community==0.0.30
unstructured[all-docs]
pandas 
beautifulsoup4 
lxml
mistralai
transformers
torch
huggingface-hub
